---
site: Pet Photos
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} - {{ site }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
    </head>

    <body class="basicLayout">
        <h1>{{ site }}</h1>

        <nav>
            <ul>
                <li><a href="{{ '/' | url }}" class="{% if page.url == '/' %}active-page{% endif %}">Home</a></li>
                <li><a href="{{ '/dog/' | url }}" class="{% if page.url == '/dog/' %}active-page{% endif %}">Dogs Only</a></li>
                <li><a href="{{ '/cat/' | url }}" class="{% if page.url == '/cat/' %}active-page{% endif %}">Cats Only</a></li>
                <li><a href="{{ '/other/' | url }}" class="{% if page.url == '/other/' %}active-page{% endif %}">Other Animals</a></li>
                <li><a href="{{ '/about' | url }}" class="{% if page.url == '/about/' %}active-page{% endif %}">About Us</a></li>
            </ul>
        </nav>
        
        {% if page.url contains '/about/' %}{{content}}{% endif%}

        {% if page.url contains '/photos/' %}
        <main class="content">
        {{ content }}
        <div class="data">
            <h2>Photo Information:</h2>
            <ul>
                {% if photographer_first_name != '' %}
                <li><p>Photographer: {{ photographer_first_name }} {{ photographer_last_name }}</p></li>
                {% else %}
                <li><p> Photographer: Unknown </p></li>
                {% endif %}

                {% if exif_camera_make != '' %}
                <li><p>Camera Make: {{ exif_camera_make }}</p></li>
                {% else %}
                <li><p> Camera Make: Unknown </p></li>
                {% endif %}

                {% if exif_camera_model != '' %}
                <li><p>Camera Model: {{ exif_camera_model }}</p></li>
                {% else %}
                <li><p>Camera Model: Unknown</p></li>
                {% endif %}

                {% if photo_location_city != '' %}
                <li><p>City: {{ photo_location_city }}</p></li>
                {% else %}
                <li><p>City: Unknown</p></li>
                {% endif %}

                {% if photo_location_city != '' %}
                <li><p>Country: {{ photo_location_country }}</p></li>
                {% else %}
                <li><p>Country: Unknown</p></li>
                {% endif %}
            </ul>
        {% endif %}
        </main>
        </div>
        
        <style>
        :root {
        --red: {{red}};
        --green: {{green}};
        --blue: {{blue}};

        --accessible-color: calc(
            (
            (
                (
                (var(--red) * 299) +
                (var(--green) * 587) +
                (var(--blue) * 114)
                ) / 1000
            ) - 128
            ) * -1000
        );
        }

        .content {
            background-color: {{color_keyword}};
        }

        .content .data {
        color:
            rgb(
            var(--accessible-color),
            var(--accessible-color),
            var(--accessible-color)
            );
        background-color:
            rgb(
            var(--red),
            var(--green),
            var(--blue)
            );
        }
        </style>

        <div class="links">
        {% if page.url == '/' %}
        <h2>Links:</h2>
        <ul>
            {% for photo in collections.photos %}
                {% if photo == collections.photos[10] %}
                    <li class="container">
                        <input type="checkbox" id="check_id">
                        <label for="check_id"></label>
                        <ul>
                {% endif %}
                <li>
                <a href="{{ photo.url | url }}">
                    {{ photo.data.ai_description }} - 
                    {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }} 
                </a>
            </li>
            {% endfor %}
            </ul>
            </li>
        </ul>
        {% elsif photo_keyword == 'dog' or title == 'Dogs' %}
        <ul>
            {% for dog in collections.dogs %}
                {% if dog == collections.dogs[10] %}
                    <li class="container">
                        <input type="checkbox" id="check_id">
                        <label for="check_id"></label>
                        <ul>
                {% endif %}
                <li>
                <a href="{{ dog.url | url }}">
                    {{ dog.data.ai_description }} - 
                    {{ dog.data.photographer_first_name}} {{ dog.data.photographer_last_name }} 
                </a>
            </li>
            {% endfor %}
            </ul>
            </li>
        </ul>
        {% elsif photo_keyword == 'cat' or title == 'Cats' %}
        <ul>
            {% for cat in collections.cats %}
            <li>
                <a href="{{ cat.url | url }}">
                    {{ cat.data.ai_description }} - 
                    {{ cat.data.photographer_first_name}} {{ cat.data.photographer_last_name }} 
                </a>
            </li>
            {% endfor %}
        </ul>
        {% elsif page.url != '/about/' %}
        <ul>
            {% for other in collections.others %}   
            <li>
                <a href="{{ other.url | url }}">
                    {{ other.data.ai_description }} - 
                    {{ other.data.photographer_first_name}} {{ other.data.photographer_last_name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>

        <footer>Copyright &copy; 2021 All Rights Reserved by Nunya</footer>
    </body>
    <footer>This is a footer</footer>
</html>
