a:hover {
    color:rgb(252, 227, 2);
}
a:active {
    color: #0000FF;
}
div{
    background:sienna;
}

.basicLayout{
    display:grid;
    
}

.wrapper > h1{
    display:grid;
    grid-template-rows: 100%;
    background:rgb(252, 193, 0)
}
.wrapper{
    display:grid;
    grid-template-columns: 30% 40% 30%;
}
.wrapper > div{
    background:rgb(12, 122, 196);
    padding:1em;
}
.wrapper > div:nth-child(odd){
    background:rgb(49, 194, 92);
}
@media (min-width: 40em){
    body {
        grid-template-areas: 
        'banner banner banner'
        'nav main links'
        'nav footer footer'
    }

    .banner {grid-area: banner;}
    nav {grid-area: nav;
        background: salmon;
    }
    main {grid-area: main;}
    .links {grid-area: links;}
    footer {grid-area: footer;}

}
