body {
    display:grid;
    gap: 1em;
}

@media (min-width: 40em){
    body {
        grid-template-areas: 
        'banner banner banner'
        'nav main links'
        'nav footer footer'
    }

    .banner {
        grid-area: banner;
    }

    nav {grid-area: nav;}

    /* Content area ====================================*/
    .content {
        grid-area: main;
        background-color: lightslategray;
    }

    /* Links area ====================================*/
    .links {
        grid-area: links;
        
    }

    .links h2 {
        text-shadow: 1px;
        font-size: x-large;

    }
    
    /*Deals with the links individually*/
    .links a {
        text-decoration: underline;
        color: blue;
    }
    
    .links a:visited {
        color: purple;
    }
    
    .links a:hover {
        color: red;
    }

    /* Footer area ====================================*/
    footer {grid-area: footer;}

}
